<div id="wrapper">
<div ng-include="'templates/abstract/nav/navigation.html'"></div>
<div id="page-wrapper" class="gray-bg">
<div ng-include="'templates/abstract/header/topnavBar.html'"></div>
    <div ui-view="dasView"></div>
<div ng-include="'templates/abstract/footer/footer.html'"></div>
</div>
</div>
