<html>
    <head>
    	<meta charset="UTF-8">
        <title>Grafana</title>
    </head>
    <body>
        <iframe src = "http://158.69.217.63:3400" style = "height:100%;width:100%"></iframe>
    </body>
</html>