<div class="footer">
    <div class="pull-right">
        <!-- 10GB of <strong>250GB</strong> Free. -->
    </div>
    <div>
        <strong>Copyright</strong> Example Company &copy; 2015-2017
    </div>
</div>
