<!--
*
* INSPINIA - Responsive Admin Theme
* Version 2.7
*
-->

<!DOCTYPE html>
<html ng-app="app">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Page title set in pageTitle directive -->
    <title page-title></title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Font awesome -->
    <link href="fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Main Inspinia CSS files -->
    <link href="css/animate.css" rel="stylesheet">
    <link id="loadBefore" href="css/style.css" rel="stylesheet">


</head>

<!-- ControllerAs syntax -->
<!-- Main controller with serveral data used in Inspinia theme on diferent view -->
<body ng-controller="AppCtrl" class="{{$state.current.data.specialClass}}" landing-scrollspy id="page-top">

<!-- Main view  -->
<div ui-view></div>

<!-- jQuery and Bootstrap -->
<script src="libs/jquery/jquery-3.1.1.min.js"></script>
<script src="libs/plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="libs/bootstrap/bootstrap.min.js"></script>

<!-- MetsiMenu -->
<script src="libs/plugins/metisMenu/jquery.metisMenu.js"></script>

<!-- SlimScroll -->
<script src="libs/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Peace JS -->
<script src="libs/plugins/pace/pace.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="js/module/inspinia.js"></script>

<!-- Main Angular scripts-->
<script src="libs/angular/angular.min.js"></script>
<script src="libs/angular/angular-sanitize.js"></script>
<script src="libs/plugins/oclazyload/dist/ocLazyLoad.min.js"></script>
<script src="libs/ui-router/angular-ui-router.min.js"></script>
<script src="libs/bootstrap/ui-bootstrap-tpls-1.1.2.min.js"></script>
<script src="libs/plugins/angular-idle/angular-idle.js"></script>

<!-- Anglar App Script -->
<script src="js/module/app.module.js"></script>
<!-- <script src="js/config.js"></script> -->
<script src="js/module/app.directives.js"></script>
<script src="js/module/app.adapter.js"></script>
<script src="js/service/app.api.js"></script>
<script src="js/module/app.controllers.js"></script>

<script src="js/module/dashboard/dashboard.module.js"></script>
<script src="js/module/dashboard/dashboard.controller.js"></script>

<script src="js/module/home/home.module.js"></script>
</body>
</html>
