<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
        <div>
            <h3 class="logo-name">Iquall</h3><br>
        </div>
        <h3>Welcome to Iquall Network</h3>
        <form class="m-t" role="form" ng-submit="loginForm()" action="#">
            <div class="form-group">
                <input type="email" ng-model="userEmail" class="form-control" placeholder="Username" required="">
            </div>
            <div class="form-group">
                <input type="password" ng-model="userPassword" class="form-control" placeholder="Password" required="">
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b">Login</button>

            <a ui-sref="forgot_password"><small>Forgot password?</small></a>
            <p class="text-muted text-center"><small>Do not have an account?</small></p>
            <a class="btn btn-sm btn-white btn-block" ui-sref="register">Create an account</a>
        </form>
        <p class="m-t"> <small>Inspinia we app framework base on Bootstrap 3 &copy; 2014</small> </p>
    </div>
</div>
